@import "mixins";

.navbar-brand {
  fill: white;
}

.nav-link-text,
.nav-link-text:hover {
  color: inherit;
  text-decoration: inherit;
}

.hide-scrollbar { @include hide-scrollbar; }

.small {
  font-size: 12.8px;
}

@media (min-width: 767.98px) {
  .rounded-md {
    border-radius: 1rem !important;
  }
}

@media (min-width: 767.98px) {
  .border-end-md {
    border-right: 1px solid #dee2e6 !important;
  }
}
