-
    var users = [
        {
            name: "Вениамин Редакторович",
            time: "11:45",
            message: "o_O",
            avatar: "/images/avatar_4.jpg"
        },
        {
            name: "Джедай Падаванов",
            time: "10:12",
            message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
            avatar: "/images/avatar_2.jpg"
        },
        {
            name: "Алексей Примадонин",
            time: "08:53",
            message: "Тесты упали >_<",
            avatar: "/images/avatar_3.jpg"
        },
    ]
