@import "../variables";

.contact-card:hover {
  background-color: map-get($theme-colors, 'primary');
}

.contact-card:hover * {
  color: map-get($theme-colors, 'light') !important;
}

.contact-name {
  color: inherit;
  text-decoration: inherit;
}

.contact-status {
  font-size: 12.8px;
}
