.dialog-message {
  max-width: 624px;
}

.dialog-btn {
  width: 42px;
  height: 42px;
  padding: 0;

  border-radius: 50%;
}

@media (min-width: 767.98px) {
  .dialog-btn {
    width: 50px;
    height: 50px;
  }
}

.bi-cursor::before {
  font-size: 1.5rem;
}
