doctype html
html(lang='ru')
  head
    include blocks/meta
    title Started Page
  body.pt-5.bg-gray.h-100.overflow-hidden
    .container.bg-white.rounded.overflow-hidden.mb-5.h-100
      .row
        .col-12.col-md-4.border-end.border-gray
          .row
            .col.bg-primary.text-white
              include blocks/header
          .row.pt-5
            .col.px-4
              include blocks/contacts
        .d-none.d-md-block.col-md-8.container-xxl
          p Правая часть
