doctype html
html(lang='ru')
  head
    include blocks/meta
    link(rel="stylesheet", href="/build/styles/app.css")
    title Главная
  body.py-md-4.bg-gray.vh-100.px-md-4
    .container-fluid.bg-white.h-100.overflow-hidden.radius-md
      .row.h-100
        .col-md-4.h-100.d-flex.flex-column-reverse.flex-md-column.border-right-md
          header
            .row
              .col.bg-primary.text-white
                .navbar.py-3.ps-2
                  a.navbar-brand(href="#")
                    svg(height='25' width='15')
                      use(xlink:href='images/icons/sprite.svg#logo')
                  #pills-tab.nav.nav-fill(role='tablist')
                    .nav-item.position-relative(role='presentation')
                      #pills-contacts-tab.nav-link.active.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-contacts' type='button' role='tab' aria-controls='pills-contacts' aria-selected='true')
                        svg(height='25' width='25').me-2
                          use(xlink:href='images/icons/sprite.svg#people')
                        a.nav-link-text.small.stretched-link(href="#contacts")
                          span.d-none.d-md-block Контакты
                    .nav-item.position-relative(role='presentation')
                      #pills-messages-tab.nav-link.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-messages' type='button' role='tab' aria-controls='pills-messages' aria-selected='false')
                        svg(height='25' width='25').me-2
                          use(xlink:href='images/icons/sprite.svg#chat')
                        a.nav-link-text.small.stretched-link(href="#chats")
                          span.d-none.d-md-block Сообщения
                    .nav-item.position-relative(role='presentation')
                      #pills-profile-tab.nav-link.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
                        svg(height='25' width='25').me-2
                          use(xlink:href='images/icons/sprite.svg#person')
                        a.nav-link-text.small.stretched-link(href="#profile")
                          span.d-none.d-md-block Профиль
          .row.h-100
            .col.px-4.h-100
              #pills-tabContent.tab-content.h-100
                #pills-contacts.tab-pane.fade.show.active.h-100.overflow-scroll.hide-scrollbar.position-relative(role='tabpanel' aria-labelledby='pills-contacts-tab')
                  .position-absolute.w-100.top-0.pt-7.pt-md-6
                    include blocks/contacts
                #pills-messages.tab-pane.fade.h-100.overflow-scroll.hide-scrollbar.position-relative(role='tabpanel' aria-labelledby='pills-messages-tab')
                  .position-absolute.w-100.top-0.pt-7
                    include blocks/chats
                #pills-profile.tab-pane.fade.h-100.overflow-scroll.hide-scrollbar.position-relative(role='tabpanel' aria-labelledby='pills-profile-tab')
                  .position-absolute.w-100.top-0.pt-7
                    include blocks/profile
        .d-none.d-md-block.col-md-8.h-100
          include blocks/right-side
