-
  var users = [
    {
      name: "Вениамин Редакторович",
      time: "11:45",
      message: "o_O",
      avatar: "/images/avatar_4.jpg"
    },
    {
      name: "Джедай Падаванов",
      time: "10:12",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "/images/avatar_2.jpg"
    },
    {
      name: "Алексей Примадонин",
      time: "08:53",
      message: "Тесты упали >_<",
      avatar: "/images/avatar_3.jpg"
    },
  ]

h2.fw-bold.mb-4.mb-md-3 Чаты
form.mb-7
  label(for="searchContact").d-none
  input.p-3.border-0.border-bottom(type="text" id="searchContact" class="form-control" placeholder="Поиск по сообщениям")
each user in users
  .list-group.list-group-flush
    .list-group-item.shadow-sm.mb-3.contact-card
      .align-items-center.d-flex.w-100
        img(src=user.avatar).avatar.me-2
        .p-3.w-100
          .d-flex.justify-content-between.align-items-center.flex-wrap
            a(href="#").stretched-link.contact-name
              h4.mb-1.fs-6.fw-bold #{user.name}
            span.time.text-muted.small #{user.time}
          .d-flex.flex-nowrap.w-100
            .small.mb-0.text-muted.user-message #{user.message}
else
  li Нет пользователей
