include ../includes/data/contacts-data

h2.fw-bold.mb-5.h2 Контакты
form.mb-8.mb-md-7
  label(for="searchContact").d-none
  input.ps-4.pb-3.pt-3.border-0.border-bottom(type="text" id="searchContact" class="form-control" placeholder="Поиск по контактам")
each users, char in contacts
  h2.text-muted.fs-6.fw-normal.mb-4= char
  each user in users
    .list-group.list-group-flush
      .list-group-item.shadow-sm.mb-7.contact-card
        .align-items-center.d-flex
          img(src=user.avatar).avatar.me-2
          .ps-3.pt-3.pb-3
            a(href="#").stretched-link.contact-name
              h4.mb-1.fs-6.fw-bold #{user.name}
            .small-text.mb-0.text-muted #{user.status}
  else
    li Нет пользователей
