.align-items-center.d-flex.border-bottom.sticky-top.ps-3.bg-white
  img(src="/images/avatar_4.jpg").avatar
  .p-4
    .contact-name
      h4.mb-1.fs-6.fw-bold Вениамин Редакторович
    .small.mb-0.text-muted Онлайн
.d-flex.align-items-end.dialog-message.ms-md-7.mb-3.mt-7
  img(src="/images/avatar_4.jpg").avatar.me-md-3.d-none.d-md-block
  .radius.shadow-sm.p-4.mx-7.mx-md-0.bg-light
    .mb-1.fw-bold.text-dark Вениамин Редакторович
    .text-muted.pb-2.border-bottom.mb-1 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
    .small.text-muted 8 минут назад
.d-flex.justify-content-end.me-md-7.mb-3.mb-md-2
  .d-flex.align-items-end.dialog-message.ms-md-7
    img(src="/images/avatar_1.jpg").avatar.me-md-3.d-none.d-md-block
    .radius.shadow-sm.p-4.mx-7.mx-md-0.bg-primary
      .mb-1.text-light.border-bottom.pb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
      .small.text-light 5 минут назад
.d-flex.align-items-end.dialog-message.ms-md-7.mb-3
  img(src="/images/avatar_4.jpg").avatar.me-md-3.d-none.d-md-block
  .radius.shadow-sm.p-4.mx-7.mx-md-0.bg-light
    .mb-1.fw-bold.text-dark Вениамин Редакторович
    .text-muted.mb-3 Лады
    .small.text-muted 5 минут назад
.d-flex.justify-content-end.me-md-7.mb-3
  .d-flex.align-items-end.dialog-message.ms-md-7
    img(src="/images/avatar_1.jpg").avatar.me-md-3.d-none.d-md-block
    .radius.shadow-sm.p-4.mx-7.mx-md-0.bg-primary
      .mb-1.text-light.border-bottom.pb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
      .small.text-light 3 минуты назад
.d-flex.align-items-end.dialog-message.ms-md-7.mb-3
  img(src="/images/avatar_4.jpg").avatar.me-md-3.d-none.d-md-block
  .radius.shadow-sm.p-4.mx-7.mx-md-0.bg-light
    .mb-1.fw-bold.text-dark Вениамин Редакторович
    .text-muted.mb-2 о_О
    .small.text-muted Только что
.position-sticky.bottom-0.px-md-7.bg-white
  form.d-flex.border-top-md.p-0
    label(for="searchContact").d-none
    input.border-0(type="text" id="searchContact" class="form-control" placeholder="Напишите сообщение")
    button(type="submit").btn.bg-primary.dialog-btn.mt-3.me-3.mb-3
      i.text-white.bi-cursor
