header
  .row
    .col
      .navbar.py-3.ps-2
        a.navbar-brand(href="#")
          svg(height='25' width='15')
            use(xlink:href='images/icons/sprite.svg#logo')
        ul#pills-tab.nav.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            #pills-contacts-tab.nav-link.active.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-contacts' type='button' role='tab' aria-controls='pills-contacts' aria-selected='true')
              svg(height='25' width='25').me-2
                use(xlink:href='images/icons/sprite.svg#people')
              .nav-link-text Контакты
          li.nav-item(role='presentation')
            #pills-messages-tab.nav-link.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-messages' type='button' role='tab' aria-controls='pills-messages' aria-selected='false')
              svg(height='25' width='25').me-2
                use(xlink:href='images/icons/sprite.svg#chat')
              .nav-link-text Сообщения
          li.nav-item(role='presentation')
            #pills-profile-tab.nav-link.text-white.d-flex.align-items-center(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
              svg(height='25' width='25').me-2
                use(xlink:href='images/icons/sprite.svg#person')
              .nav-link-text Профиль
