h2.h1.fw-bold.mb-4 Профиль
form.border-gray.border-bottom.mb-9
  label(for="searchContact").d-none
  input.py-2.border-0(type="text" id="searchContact" class="form-control" placeholder="Поиск по сообщениям")
.card.border-light.py-3.mb-3
  .card-body.text-center
    img.mb-3.rounded-circle.img-profile(src="images/avatar_1.jpg")
    .h5 Кодовёнок Хекслетович
    p.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
.card.border-light.py-3
  ul.list-group.list-group-flush
    li.list-group-item.d-flex.justify-content-between.align-items-center
      div
        .text-muted.small Страна
        .small Москва, Россия
      i.bi.text-black-50.bi-globe
    li.list-group-item.d-flex.justify-content-between.align-items-center
      div
        .text-muted.small Телефон
        .small +7 (499) 123-45-67
      i.bi.text-black-50.bi-telephone
    li.list-group-item.d-flex.justify-content-between.align-items-center
      div
        .text-muted.small Email
        .small nikita.m@hexlet.io
      i.bi.text-black-50.bi-envelope
    li.list-group-item.d-flex.justify-content-between.align-items-center
      div
        .text-muted.small Twitter
        .small @n__mikhaylov
      i.bi.text-black-50.bi-people
