.d-flex.flex-column.align-items-center.justify-content-center.h-100
  img.hello-image.mb-3.rounded-circle(src="images/avatar_1.jpg")
  .fw-bold Привет, Кодовёнок
  .text-muted.small Выбери чат, чтобы начать общаться
